.viewOrdersMobile-wrapper {
  .viewOrdersMobile-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;

    .viewOrdersMobile-header {
      font-size: 28px;
      font-weight: 600;
      line-height: 39px;
    }
  }
  .viewOrdersMobile-filters-container {
    width: 100%;
    margin-bottom: 2rem;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .mobile-table-wrapper {
    li {
      padding: 24px 10px;
      border-bottom: 1px solid #ccc;
      &:first-child {
        border-top: 1px solid #ccc;
      }
      .touchableContent {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 1rem;
        cursor: pointer;
        .fieldName {
          font-size: 12px;
          margin-bottom: 2px;
          color: var(--grey-primary);
        }
        .expected_delivery_date {
          grid-column: 1 / span 2;
        }
      }
      .status {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        padding: 0 12px;
        height: 24px;
        width: 100%;
        margin-top: 16px;
        &.new {
          background-color: #5cd65caa;
        }
        &.closed {
          background-color: #ff3333aa;
        }
        &.dispatched {
          background-color: #ff9933aa;
        }
        .dropdownInput-wrapper {
          span {
            background: transparent;
            border: none;
            color: #fff;
            height: auto !important;
            margin: 0;
          }
          .openClass {
            box-shadow: none !important;
          }
        }
      }
    }
    .tableEmpty {
      width: 100%;
      height: 100%;
      font-size: 30px;
      line-height: 40px;
      font-weight: 600;
      margin: 5rem 0;
    }
  }
}
