.btn__wrapper {
  display: contents;
  button {
    background-color: var(--yellow-secondary);
    border: 1px solid var(--yellow-secondary);
    border-radius: 4px;
    padding: 6px;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    min-width: 120px;
    max-width: 180px;
    &:hover {
      cursor: pointer;
    }
  }
}
