.viewProductsMobile-wrapper {
  padding-bottom: 3rem;
  .viewProductsMobile-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;

    .viewProductsMobile-header {
      font-size: 28px;
      font-weight: 600;
      line-height: 39px;
    }
  }
  .viewProductsMobile-topbar {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    .viewProductsMobile-searchBar {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .viewProductsMobile-filters-container {
      width: 100%;
    }
  }
  .mobile-table-wrapper {
    li {
      padding: 2rem 0;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      border-bottom: 1px solid #ccc;
      &:first-child {
        border-top: 1px solid #ccc;
      }
      > div {
        padding: 0 8px;
        p {
          font-size: 14px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          span {
            font-size: 12px;
            color: #2c3556;
          }
        }
      }
      .name {
        p {
          font-size: 20px;
          font-weight: 600;
        }
      }
      .category {
        flex: 0.6;
      }
      .image {
        grid-row: 1 / span 5;
        display: flex;
        align-items: center;
        width: 100px;
        height: 100px;
        margin: 0;
        img {
          box-shadow: 0 0 32px #aaa;
          border-radius: 8px;
        }
      }
      .description {
        color: var(--grey-primary);
      }
    }
    .tableEmpty {
      width: 100%;
      height: 100%;
      font-size: 30px;
      line-height: 40px;
      font-weight: 600;
      margin: 5rem 0;
    }
  }
}
