.home {
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
  background-color: #eee;

  .home__row {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    > div {
      margin: 1rem 0;
    }
  }
}
