.dropdownInput-wrapper {
  flex: 1;
  position: relative;
  .dropdownClass {
    height: 40px !important;
    border-radius: 4px;
    border: solid 1px var(--yellow-primary);
    background-color: #ffffff;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    color: #2c3556;
    cursor: pointer;
    margin: 4px 0;
  }

  span {
    border-radius: 8px;
    border: solid 1px #f1f1f1;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .labelName {
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      color: #b1b5c8;
      font-weight: 400;
    }

    .labelValue {
      white-space: nowrap;
      overflow: hidden;
      padding-left: 5px;
      font-weight: 500;
    }

    .labelDownarrow {
      margin-left: 16px;
      white-space: nowrap;
      display: flex;
      align-items: center;
      img {
        max-width: 24px;
        margin-left: auto;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .dropdownInput-dropdownbox {
    position: absolute;
    z-index: 10;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    background-color: white;
    padding: 12px 0.1rem;
    box-shadow: 0 12px 30px 0 rgba(9, 12, 11, 0.2);
    max-height: 40vh;
    overflow-y: scroll;
    &.dropdownBoxClass {
      width: 200px;
      position: absolute;
      z-index: 10;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0px 2px 7px 2px gainsboro;
      width: 100%;
      padding: 0 0.1rem;
      max-height: 12rem;
      overflow-y: auto;
    }
    .dropDownItemClass {
      height: 32px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      white-space: nowrap;
      overflow: hidden;
      font-size: 14px;
      font-weight: 500;
      line-height: 2.57;
      color: #8288a2;
      &:hover {
        cursor: pointer;
        background-color: var(--grey-secondary);
      }
    }
    .dropDownItemActiveClass {
      color: var(--yellow-primary);
      font-weight: 600;
    }
  }

  .capitalize {
    text-transform: capitalize;
  }
}
