@mixin phone {
  @media (max-width: 576px) {
    @content;
  }
}
.filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include phone {
    width: 100%;
  }
  > div > span {
    width: 180px;
    @include phone {
      width: 100%;
    }
  }
}
