@mixin phone {
  @media (max-width: 576px) {
    @content;
  }
}
.addProduct-wrapper {
  width: 100%;
  margin: auto;
  padding: 2rem 0;
  @include phone {
    width: 100%;
    padding: 1rem 0;
  }
  .addProduct-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    .addProduct-header {
      font-size: 28px;
      font-weight: 600;
      line-height: 39px;
    }
  }
  .addProduct-fields-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1rem;
    > div {
      width: 100%;
      margin-bottom: 1rem;
      &:first-child {
        grid-column: 1 / span 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      @include phone {
        grid-column: 1 / span 2;
      }
    }
    .addProduct-image-container {
      width: 150px;
      height: 150px;
      border-radius: 4px;
      background-color: var(--grey-secondary);
      img {
        border-radius: 4px;
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }
    .addProduct-input-container {
      width: 100%;
      .addProduct-input {
        width: 100%;
      }
    }
    .addProduct-dropdown-container > p {
      font-size: 14px;
      line-height: 17px;
    }
    .addProduct-textarea-container {
      grid-column: 1 / span 2;
      textarea {
        margin: 4px 0;
        border: 1px solid var(--yellow-secondary);
        padding: 8px;
        &:focus {
          outline: none;
          box-shadow: 0 0 16px -2px var(--yellow-secondary);
        }
      }
    }
  }
}
