@mixin phone {
  @media (max-width: 576px) {
    @content;
  }
}
.addProduct-wrapper {
  width: 640px;
  margin: auto;
  padding: 2rem 0;
  @include phone {
    width: 100%;
    padding: 1rem 0;
  }
  .addProduct-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    .addProduct-header {
      font-size: 28px;
      font-weight: 600;
      line-height: 39px;
    }
  }
  .addProduct-fields-container {
    flex-direction: column;
    > div {
      width: 100%;
      margin-bottom: 1rem;
    }
    .addProduct-image-container {
      width: 150px;
      height: 150px;
      border-radius: 4px;
      background-color: var(--grey-secondary);
      img {
        border-radius: 4px;
        width: 150px;
        height: 150px;
        object-fit: contain;
      }
    }
    .addProduct-input-container {
      .addProduct-input {
        width: 100%;
      }
    }
    .addProduct-textarea-container {
      textarea {
        margin: 4px 0;
        border: 1px solid var(--yellow-primary);
        padding: 8px;
      }
    }
  }
}
