.viewOrders-wrapper {
  .viewOrders-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    .viewOrders-header {
      font-size: 28px;
      font-weight: 600;
      line-height: 39px;
    }
  }
  .viewOrders-filters-container {
    width: 100%;
    margin-bottom: 2rem;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .customTableWrapper li {
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .id {
      flex: 0.3;
    }
    .edit {
      flex: 0.5;
      cursor: pointer;
    }
    .status {
      flex: 0.6;
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(.tableHeader) {
        border-radius: 16px;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        font-weight: 600;
        &.new {
          background-color: #5cd65caa;
        }
        &.closed {
          background-color: #ff3333aa;
        }
        &.dispatched {
          background-color: #ff9933aa;
        }
        &.cancelled {
          background-color: #ff3333;
        }
      }
      .dropdownInput-wrapper {
        span {
          background: transparent;
          border: none;
          color: #fff;
          height: auto !important;
          margin: 0;
        }
        .openClass {
          box-shadow: none !important;
        }
      }
    }
  }
}
