@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
  background-color: #fff;
  margin: 0;
  color: #2c3556;
  font-family: 'Montserrat', sans-serif, 'Work sans';
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

@mixin phone {
  @media (max-width: 576px) {
    @content;
  }
}

// #a4ce38 = rgba(164,206,56, 1)
// #80ae38 = rgba(128,174,56, 1)
:root {
  --yellow-primary: #a4ce38;
  --yellow-secondary: #80ae38;
  --grey-primary: #666;
  --grey-secondary: rgb(247, 247, 247);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a4ce38;
  border-radius: 10px;
  &:hover {
    background-color: #80ae38;
  }
}

input {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  box-shadow: none;
  border: none;
  padding: 0 20px;
  color: #111;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #b1b5c8;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea {
  width: 100%;
  resize: none;
  border-radius: 4px;
  box-shadow: none;
  padding: 0 20px;
  color: #111;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.admin-wrapper {
  .admin-body {
    padding: 2rem;
    display: flex;
    @include phone {
      padding: 16px;
    }
  }
}

.goBack {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  box-shadow: 4px 4px 16px #aaa;
  transition: transform 0.2s ease-in;
  position: absolute;
  left: 0;
  background-color: #fff;
  @include phone {
    height: 32px;
    width: 32px;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.menuIcon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: absolute;
  left: 0;
}
