* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

:root {
  --yellow-primary: #fcb800;
  --yellow-secondary: #f0c14b;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fcb800;
  border-radius: 10px;
  &:hover {
    background-color: #daa700;
  }
}

input {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  box-shadow: none;
  border: none;
  padding: 0 20px;
  color: #111;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #b1b5c8;
  }
}
